*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.heading{
    position: fixed;
    padding: 1.5%;
    text-align: center;
    z-index: 20;
    /*background-color: rgb(3, 60, 60);*/
    opacity: 0.9;
    background-attachment: fixed;
}
.navigation{
    list-style-type: none;
}
.navigation li{
    display: inline;
    padding: 2%;
    font-weight: bolder;
}
.navitems{
    color: #ffffff;
    padding: 1%;
    border-radius: 1vw;
    font-size: 1.2vw;
    font-family: "Poppins";
    transition: color 1s linear,font-size 1s ease-in-out; 
    display: inline-block;
}
.navitems:hover{
    text-decoration: none;
    color: rgb(224, 163, 7);
    font-size: 1.6vw;
}
.backdrop{
    background: url("../images/bannerimg1.gif") center;
    opacity: 0.9;
    background-size: cover;
    height:50vw;
}
.login{
    font-family:"Bangers";
    background: #92B901;
    color: #ffffff;
    font-size: 1vw;
    padding: 1%;
    border-radius: 1vw;
    letter-spacing: 0.25vw;
    transition:font-size 2s ease-in-out;
    position: absolute;
    animation: animated_div 5s ;
}
@keyframes animated_div{
    0%{
     transform: rotate(0deg);
    top: 0px;
    }
    25%{
    transform: rotate(20deg);
    top: 0px;
    }
    50%{
        transform: rotate(0deg);
        top: 40vw;
    }
    55%{
        transform: rotate(0deg);
        top: 40vw;

    }
    70%{
        transform: rotate(0deg);
    top: 40vw;
    background: #1ec7e6;
    }
    100%{
        transform: rotate(-360deg);
    top: 0px;
}
    
}
.login:hover{
    text-decoration: none;
    font-size: 2vw;
    font-weight: bolder;
    color: white;
}
.text{
    color: white;
    background: url("../images/img16.jpg") center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 13vw;
    text-align: center;
    padding: 15%;
    font-weight: 900;
    font-family: "Bungee Shade",cursive;
    letter-spacing: 1vw;
    z-index: 20;
    transition: text-indent 0.5s;
}
.text:hover{
    text-indent: 20vw;
}
.text:hover::before{
    display: inline-block;
  content: '&#x2708;︎';
}
.icons{
    list-style-type: none;
}
.icons li{
    display: inline;
    padding: 1vw;
    transition: color 2s linear;
}
.icons li:hover{
    color:rgb(224, 163, 7);
}


